body {
  margin: 0;
  font-family: 'Yekan-Bakh-Medium', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'iranyekanwebregularfanum';
  src: url(../src/assets/fonts/iranyekanwebregularfanum.woff) format('woff');
}

@font-face {
  font-family: 'iranyekanwebboldfanum';
  src: url(../src/assets/fonts/iranyekanwebboldfanum.woff) format('woff');
}
p,h4,label, button, span{
  font-family: 'iranyekanwebboldfanum' !important;
}